.test{
    background-color: black;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    color: white;
    border-radius: 20px;
}

h3{
    color: red;
}

#test{
    color:brown;
    background-color: aliceblue;
}

p.hello{
    border: 2px solid blue;
    border-radius: 7px;
}

.helloworld{
    border-radius: 50px;
    margin-right: 4px;
    border: 2px solid blueviolet;
}

body{
    background-color: rgba(250, 235, 215, 0.598);
}